.background {
  /* position: relative; */
  height: 100vh;
  /* background-image: url('../../assets/Imagenes/Landing_fondo_aplicar - copy.png'); */
  background-position: center;
  background-size: cover;
  width: 100%;
}

.formDiv {
  /* background-color: brown; */
  height: 13%;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: auto;
}

.cont {
  top: 60%;
  left: 40%;
  padding: 2%;
  align-items: center;
  position: absolute;
  transform: translate(-50%, -50%);
  font-family: Arial, Helvetica, sans-serif;
  width: 30%;
  height: 75vh;
  background-color: rgba(69, 69, 69, 0.422);
  border-radius: 10px;
}

.cont label {
  font-size: 18px;
  width: 27%;
  margin-right: 2%;
  color: rgb(36, 36, 36);
  text-align: right;
}

.inp {
  background-color: rgb(255, 255, 255, 80%);
  height: 23px;
  border-radius: 6px;
  border: none;
  outline: none;
  font-size: 11px;
  color: black;
  width: 98%;

}

.desc {
  width: 98%;
  background-color: rgb(255, 255, 255, 80%);
  border-radius: 6px;
  border: none;
  outline: none;
  font-size: 11px;
}

.select {
  border: none;
  outline: none;
  border-radius: 5px;
  height: 25px;
  width: 100%;
  background-color: rgb(255, 255, 255, 80%);
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

.seleccionados {
  color: rgb(84, 244, 255);
  line-height: 1;
  margin: 12px auto;
  text-align: right;
}


.buttonForm {
  margin-top: 3%;
  width: 20%;
  height: 8%;
  background: rgba(128, 128, 128, 0.511);
  color: white;
  border: 1px solid white;
  border-radius: 1em;
}

.buttonForm:hover {
  background-color: rgba(255, 255, 255, 0.21);
}

.font {
  color: rgba(0, 0, 0, 0.647);
}

.input {
  /* background-color: blueviolet; */
  width: 50%;
  color: black;
}

.desc {
  color: black;
}
.imageContainer{
  position: absolute;
  left: 60%;
  bottom: 20%;
  /* background-color: brown; */
  padding: 1%;
  height: 55vh;
  width: 20%;
  box-sizing: border-box;
  border: 1px solid white;
 display: flex;
 flex-direction: column;
}

.imageContainer h4{
  height: 10%;
  /* background-color: brown; */
  margin: 0;

}
.imgForm{
margin: auto;
  height: 15em;

}

.buttonImage{
  width: 12%;
  text-align: center;
  height: 9%;
  margin: auto;
  border-radius: 3em;
  padding: 1%;
  border: 1px solid white;
  background: rgb(107, 1, 1);
  color: white;
  
}

