.background{
  /* position: relative; */
  height: 120vh;
 background-image: url('../../assets/Imagenes/Landing_fondo_aplicar - copy.png');
 background-position: center;
}

.cont{
  top: 65%;
  left:50%;
  flex-direction: column;
  align-items: center;
  position: absolute;
  transform: translate(-50%, -50%);
  font-family: Arial, Helvetica, sans-serif;
 
}
.cont label{
  font-size: 18px;
  color: rgba(255, 255, 255, 0.779);
}


.bg2{
  height: 110%;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: -10%;
}

.inp {
  background-color: rgb(255, 255, 255, 80%);
  height: 23px;
  border-radius: 6px;
  border: none;
  outline: none;
  font-size: 11px;
  color: black;
  width: 130px;
  margin-left: 30px;
}    

.select{
  
  border-radius: 5px;
  height: 25px;
  width: 133px;
  margin-left: 29px;
  font-family:Arial, Helvetica, sans-serif;
}

.seleccionados{
  color: rgb(84, 244, 255);
  line-height: 1;
  margin: 12px auto;
  text-align: right;
}
.formCont::placeholder{
  font-size: 16px;
  font-family: instrucciones;
}

.formCont p{
  line-height: 2px;
  color: rgb(253, 118, 118);
}

.formCont{
  display:flex;
  flex-wrap: wrap;
  width: 380px;
  height: 630px;
  justify-content: flex-end;
  border: 1px solid black;
  border-radius: 15px;
  padding: 40px 95px 0px 45px;
  background-color: hsla(0, 0%, 0%, 0.397);
  filter: blur();
  font-size: 15px;
  

}
.formCont label {
  width: 100%;
  text-align: right;
  display: flex;
  justify-content: space-around;
}
.formCont input{
  width: 60%;
  height: 50%;
  border-radius: 2em;
}
.formCont select{
  width: 60%;
  height: 50%;
  border-radius: 2em;
}

.buttonForm{
  margin-top: 5%;
  margin-right: 25%;
  padding: 10px 15px;
  width: 30%;
height: 8%;
 background: none;
 color: white;
 border: 1px solid white;
 border-radius: 1em ;
}

.buttonForm:hover{
  background-color: rgba(255, 255, 255, 0.21);
}

.font{
  color: rgba(255, 255, 255, 0.647);
  position: relative;
  right: 45%;
  transform: translate(50%);
}