.background{
  /* position: relative; */
  height: 100vh;
 background-image: url('../../assets/Imagenes/Landing_fondo_aplicar - copy.png');
 background-position: center;
 background-size: cover;
 width: 100%;
}
.cont{
  top: 45%;
  left:50%;
  align-items: center;
  position: absolute;
  transform: translate(-50%, -50%);
  font-family: Arial, Helvetica, sans-serif;
  width: 25%;
  height: 60vh;
}
.cont label{
  font-size: 18px;
  width: 100%;
  color: rgba(255, 255, 255, 0.779);
  display: flex;
}
.inp {
  background-color: rgb(255, 255, 255, 80%);
  height: 23px;
  border-radius: 6px;
  border: none;
  outline: none;
  font-size: 11px;
  color: black;
  width: 10%;
  margin-left: 30px;
  position: relative;
}    

.select{
  
  border-radius: 5px;
  height: 25px;
  width: 133px;
  margin-left: 29px;
  font-family:Arial, Helvetica, sans-serif;
}

.seleccionados{
  color: rgb(84, 244, 255);
  line-height: 1;
  margin: 12px auto;
  text-align: right;
}
.formCont::placeholder{
  font-size: 16px;
  font-family: instrucciones;
}

.formCont p{
  line-height: 2px;
  color: rgb(246, 73, 174);
}

.formCont{
  display:flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  border: 1px solid black;
  border-radius: 15px;
  background-color: hsla(0, 0%, 0%, 0.397);
  filter: blur();
  font-size: 15px;
  flex-direction: column;
  align-items: center;
  padding: 8% 0;
}
.formCont label {
  width: 90%;
  height: 10%;
  text-align: right;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0%;
}
.formCont input{
  width: 15vw;
  height: 55%;
  border-radius: 2em;
  
}
.formCont select{
  width: 15vw;
  height: 55%;
  border-radius: 2em;
  text-align: center;
}

.buttonForm{
  margin-top: 5%;
  width: 30%;
height: 8%;
 background: none;
 color: white;
 border: 1px solid white;
 border-radius: 1em ;
}

.buttonForm:hover{
  background-color: rgba(255, 255, 255, 0.21);
}

.font{
  color: rgba(255, 255, 255, 0.647);
}