.box{
  z-index: 100;
  /* top: -100vh; */
  height: 28%;
  width: 28%;
  background-color: blue;
  margin-top: 2%;
}
.imgContainer{
  line-height: 0;
  background-color: red;
}
.imgContainer img{
  width: 50%;
  height: 50%;
}

.container{
  position: static;
  background-color: blueviolet;
}

.card{
  margin: 10%;
}

.texto{
  background-color: yellow;
  font-size: 1vw;
}