.box{
  z-index: 100;
  /* top: -100vh; */
  height: 10%;
  width: 10%;
}
.imgContainer{
  line-height: 0;
}
.imgContainer img{
  width: 50%;
  height: 50%;
}

.container{
  position: static;
  margin: 10%;
}

.card{
  background-color: red;
  margin: 10%;
}