.footer{
    height: 50vh;
    padding: 2% ;
    display: flex;
justify-content: space-evenly;
background: linear-gradient(90deg, rgba(32, 29, 206, 1) 0%, rgba(44, 194, 255, 1) 27%, rgba(114, 239, 255, 1) 50%, rgba(44, 194, 255, 1) 73%, rgba(32, 29, 206, 1) 100%);
margin-top: 10%;
font-size: 1.5vw;
border-top: 5px solid rgb(130, 8, 190);
}
.footer ul li{
    list-style-type: none;


}
.footer ul li a{
    color: rgb(103, 3, 185);
}

.ubi, .list{
    width: 30%;
    text-align: left;
    border-left: 1px solid rgba(245, 222, 179, 0.444);
    padding: 1%;
    color: rgb(103, 3, 185);
}

.footer h3{
    color: rgb(15, 0, 231);
}