.footer{
    height: 50vh;
    padding: 2% ;
    display: flex;
justify-content: space-evenly;
background-color: rgb(58, 127, 192);
margin-top: 10%;
}
.footer ul li{
    list-style-type: none;


}
.footer ul li a{
    color: rgb(103, 3, 185);
}

.ubi, .list{
    width: 30%;
    text-align: left;
    border-left: 1px solid rgba(245, 222, 179, 0.444);
    padding: 1%;
    color: rgb(103, 3, 185);
}

.footer h3{
    color: rgb(15, 0, 231);
}