.container{
  background: url('../../assets/Imagenes/Landing_fondo_aplicar - copy.png');
  height: 100vh;
  width: 100%;
  color: rgb(0, 0, 0);
  
  margin: auto;

  padding-top: 7%;
}

.content{
  width: 80%;
  margin: auto;
  height: 100%;
  display: flex;
  justify-content: space-between;
  
}

.producto{
  width: 75%;
  height:100%;
  background-color: rgba(255, 255, 255, 0.645);
  width: 65%;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 1%;
}
.producto .img1{
 
  width: 70%;
  height: 70%;
  object-fit: contain;
  object-position: top;
  margin: auto;
  margin-top: 2%;
  border: 1px solid gray;
}


.box_derecha{
  width: 35%;
  height:100%;
  background-color: rgba(255, 255, 255, 0.645);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 3%;
  box-sizing: border-box;
  border-left: 1px solid gray;
}

.box_derecha h2{
  text-transform: uppercase;
}

.des{
  height: 35%;
  width: 70%;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
  padding: 2%;
  box-sizing: border-box;
  border-bottom: 1px solid gray;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  margin-top: 1%;
 
}

.des p{
  color: rgb(71, 71, 71);
}

.sizes{
  height: 55%;
  width: 100%;
  background-image: url('../../assets/Imagenes/talles.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.boton{

width: 1em;
height: 1em;

}
.boton_img{
  height: 100%;
  width: 100%;
cursor: pointer;
background-image: url('../../assets/Imagenes/arrowheads-of-thin-outline-to-the-left.png');
background-repeat: no-repeat;
background-size: contain;
box-sizing: border-box;
position: relative;
color: black;
}

.boton_img_hover {
  height: 100%;
  width: 100%;
cursor: pointer;
background-image: url('../../assets/Imagenes/arrowheads-of-thin-outline-to-the-left.png');
background-repeat: no-repeat;
background-size: contain;
box-sizing: border-box;
position: relative;
}
.action{
height: 90%;
width: 100%;
position: absolute;
left: 0;
background: none;


}
.buy{
  width: 100%;
  height: 25%;

  display: flex;
flex-direction: column;
  
}
.buy select{
margin-top: 2%;
  width: 60%;
  background-color: rgba(255, 255, 255, 0.553);
  color: black;
  margin-bottom: 1%;
  padding: 2%;
  box-sizing: border-box;
  
}


.cart{
  background-color: rgb(67, 0, 103);
  width: 100%;
  border-radius: 1em;
  height: 35px;
  color: white;
  padding: 1%;
  box-sizing: border-box;
  margin-top: 3%;
  margin-bottom: 3%;
}