.boxCart{
    height: 160vh;
    width: 100%;
    box-sizing: border-box;
    padding: 2%;
    padding-top: 5%;
    background-image: url('../../assets/Imagenes/Landing_fondo_aplicar - copy.png');
    background-position: center;
    background-size: cover;
}
.content{
    height: 90%;
    background-color: rgba(255, 255, 255, 0.349);
    width: 80%;
    margin: auto;
    margin-top: 2%;
    border-radius: 1em;
    padding: 2%;
    padding-top: 1%;
    box-sizing: border-box;
}

.cards{
    height: 18%;
    background-color: rgb(255, 255, 255);
    width: 100%;
    border-bottom: 1px solid rgb(24, 24, 24);
    margin-top: 1%;
    border-radius: 5px;
    padding: 1%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
}

.image{
    width: 10%;
    /* background-color: tomato; */
    height: 100%;
    border-right: 1px solid gray;
    padding-right: 5%;
}
.count{
    display: flex;
    color: black;
   justify-content: center;
   width: 30%;
   
}
.buttons{
    display: flex;
    width: 70%;
    align-items: center;
    justify-content: space-evenly;
}
.count button{
    background: none;
    border: 1px solid gray;
    height: 30%;
    font-size: 20px;
    padding: 3%;
    box-sizing: border-box;
    width: 30%;
  
   

}

.desc{
    width: 46%;
    padding-left: 1%;
    /* background-color: brown; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    color: rgb(34, 34, 34);
    border-right: 1px solid gray;

}

.desc h4{
    font-size: 20px;
}

.desc button{
    width: 10%;
    background: none;
    cursor: pointer;
    color: rgb(219, 0, 0);
    font-size: 15px;
    font-weight: 500;
}

.image{
    /* background-image: url('../../assets/Img_Products/buzo-mujer-kitty-black.jpg'); */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: gray;
}

.image img{
    width: auto;
    height: 100%;
}

.vaciar{
   color: rgb(99, 0, 0);
   padding: 1%;
   box-sizing: border-box;
   background: none;
   cursor: pointer;
   border: 1px solid black;
   height: 45%;

}

.link{
    color: white;
    text-decoration: none;
   
}

.back{
    height: 47%;
    padding: 1%;
    box-sizing: border-box;
    background-color: blueviolet;
    color: white;
    margin-bottom: 1%;
    border-radius: 2em;
    font-weight: bold,
  
}
.content p{
color: rgb(56, 56, 56);
}

.buy{

  padding-top: 1%;
    height: 35%;

    /* background-color: brown; */
    display: flex;
    flex-direction: column;
align-items: center;
justify-content: center;
width: 100%;
box-sizing: border-box;
margin: auto;
margin-top: 3%;
border-top: 1px solid rgb(0, 0, 0);
background-color: rgba(255, 255, 255, 0.349);;
padding-bottom: 1%;
}

.total{
    margin-bottom: 2%;
    

    height: 10%;

    font-size: 20px;
    width: 50%;
    /* background-color: blueviolet; */
   display: flex;
    justify-content: space-between;
    color: rgb(34, 34, 34);
    font-weight: bold;
}

.buttonsDiv{
    width: 50%;
    display: flex;
    flex-direction: column;

    height: 32%;


    box-sizing: border-box;
}

.totalPrice{
    font-weight: lighter;
}

.orders{
    background-color: rgba(0, 0, 0, 0.307);
    border-radius: 2em;
    margin-left: 1%;
}

.buttons{
    color: black;

}

.comments{
    display: flex;
    width: 50%;
    margin: auto;
 border-bottom: 1px solid black;
 padding-bottom: 1%;
 height: 25%;
;
}
.comments label{
    margin-right: 1em;
    color: rgb(29, 29, 29);
}
 
.comments textarea{
    width: 60%;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.703);

}

