.container{
  background-color: blue;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
}
.bg{
  height: 100vh;
  width: 100%;
  position: relative;
}
.imagen{
  background-color:violet;
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
}
.btnNav{
  height: 8vh;
  width: 80%;
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  z-index: 500;
  left:50%;
  transform: translate(-50%);
  justify-content: space-between;
}
.btnNav img{
  height: 70%;
}
