.cardsContainer{
  gap: 20%;
  padding: 0% 10% 0 10%;
  justify-content: space-around;
  flex-wrap: wrap;
  display: flex;
  align-items: flex-start;
  position: absolute;
  width:60%;
  left: 50%;
  transform: translate(-50%);
}

