.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}

.fondo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  opacity: 0.4;
}


.content {
  z-index: 1;
  position: relative;
  background-color: aliceblue;
  height: 65vh;
  padding: 1%;
  border-radius: 5px;
}

.email{
  width: 100%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  height: 3em;
  background-color: white;
  margin-bottom: 1em;
  text-align: left;
  padding: 1%;
  padding-top: 2%;
  font-size: large;
  box-sizing: border-box;
  font-weight: 500;
}

label {
  text-transform: uppercase;
  color: black;
  font-weight: 500;
}

span{
  color: #000;
  margin-left: 32%;
}

h2{
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
}

.propertyContainer {
  margin-bottom: 20px;
  background-color: rgb(255, 255, 255);
  padding: 5px;
  border-radius: 8px;
  width: 800px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.propertyContainer label {
  margin-right: 10px;
  flex-shrink: 0;
}

.propertyContainer > .inputContainer {
  display: flex;
  justify-content: space-between;
}

.propertyContainer > .inputContainer > .inline {
  display: flex;
  align-items: center;
}

.propertyContainer > .inputContainer > .inline > input,
.propertyContainer > .inputContainer > .inline > div {
  margin-right: 10px;
}

.propertyContainer > .inputContainer > .inline > button {
  margin-right: 10px;
}

.propertyContainer > div {
  display: flex;
  align-items: center;
}

.propertyContainer > div > input,
.propertyContainer > div > div {
  margin-right: 10px;
  flex-grow: 1;
}

.propertyContainer > div > button {
  flex-shrink: 0;
  margin-right: 10px;
}

.propertyContainer {
  font-weight: 500;
  font-size: large;
}
button{
  color: white;

}

