
.box{

  display: flex;
  justify-content:  center;  
  margin: auto;
  position: absolute;
  top: 30%;
  left: 1.5%;
  height: 5vh;
  flex-direction: column;
  align-items: center;
  flex-direction: column;
}

.inputS{
  width: 30%;
  border: 1px solid gray;
  border-radius: 25px;
  margin-right: 2em;
  margin-bottom: 4%;
  margin-left: 1em;
  background-color: rgba(240, 248, 255, 0.379);
  color: whitesmoke;
  padding: 1em;
  width: 80%;
}

.box button {

  border: none;
  background: none;
  color: azure;
  border: 1px solid azure;
  border-radius: 10px;
  height: 3em;
  width: 33%;
  padding: 2% 5%;
}