.box {
  display: flex;
  justify-content: center;
  margin: auto;
  z-index: 100000;
}

.inputS {
  width: 30%;
  border: 1px solid gray;
  border-radius: 50px;
  margin-right: 2em;
  z-index: 100000;
  margin-left: 1em;
  background-color: rgba(240, 248, 255, 0.379);
  color: whitesmoke;
  padding: 1em;
}

.box button {
  z-index: 100000;
  border: none;
  background: none;
  color: azure;
  border: 1px solid azure;
  border-radius: 10px;
  height: 3em;
}
