.container {
    position: relative;
    left: 0;
    top: 0;
    bottom: 0;
    width: 200px;
    background-color: #1936da;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 87.5vh;
    width: 14%;
    border-radius: 10px;
    margin: 0 1%;
    box-shadow: 0px -23px 25px 0px rgba(0,0,0,0.20) inset,
    0px -36px 30px 0px rgba(0,0,0,0.18) inset,
    0px -79px 40px 0px rgba(0,0,0,0.13) inset,
    0px 2px 1px 0px rgba(0,0,0,0.09),
    0px 4px 2px 0px rgba(0,0,0,0.12),
    0px 8px 4px 0px rgba(0,0,0,0.12),
    0px 2px 5px 2px rgba(12, 12, 12, 0.531);
    padding: 1%;
    padding-top: 2%;
}
.sideBar{
    position: relative;
    height: 100%;
    width: 100%;
}
.navButton1{
    color: white;
    background-color:  #1936da;
   padding: 0 1%;
   box-sizing: border-box;
    width: 70%;
   font-size: 1.3vw;
    text-align: left;
    position: relative;
}
.navButton2{
    color: white;
    background-color:  #1936da;
   padding: 0 1%;
   box-sizing: border-box;
    width: 70%;
    font-size: 1.3vw;
    text-align: left;
    position: relative;
    top: 10%;
}
.navButton3{
    color: white;
    background-color:  #1936da;
   padding: 0 1%;
   box-sizing: border-box;
    width: 70%;
    font-size: 1.3vw;
    text-align: left;
    position: relative;
    top: 21%;
}
.navButton4{
    color: white;
    background-color:  #1936da;
   padding: 0 1%;
   box-sizing: border-box;
    width: 70%;
    font-size: 1.3vw;
    text-align: left;
    position: relative;
    top: 32%;
}

.subMenu1{
    position: relative;
    top: 0;
    left: 10%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.subMenu2{
    position: relative;
    top: 10%;
    left: 10%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.subMenu3{
    position: relative;
    top: 20%;
    left: 10%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.subMenu4{
    position: relative;
    top: 30%;
    left: 10%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.links{
    text-align: left;
    width: 9vw;
  border-bottom: 1px solid rgb(207, 207, 207);
  border-radius: 0;
    color: rgb(49, 228, 252);
    font-size: 1.1vw;
   background: none;
   line-height: 1;
   margin-left: 9%;
   padding-left: 5%;
}
.navButtonHome{
    color: white;
   padding: 1%;
   box-sizing: border-box;
   font-size: 1.3vw;
    text-align: left;
    height: 5%;
    position: absolute;
    top: 90%;
    left: 15%;
   background-color: rgba(0, 0, 0, 0);
}
