.box {
  background-color: #000000;
  height: 192vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 20px;
}


.abBg {
  height: 80vh;
  background: linear-gradient(180deg, rgba(87, 109, 255, 0.502) 20%, rgba(0, 0, 0, 1) 90%);
  background-size: cover;
  padding-top: 6%;
  position: relative;
  z-index: 200;
}

.figuras {
  position: relative;
  top: 5%;
  left: 35%;
  width: 20%;
  height: 12%;
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  overflow: hidden;
  justify-content: space-evenly;
  width: 45%;
  height: 100%;
  position: relative;
}

.background {
  width: 100%;
  height: 120vh;
  background-position: bottom;
  display: flex;
  background-repeat: no-repeat;
  background-size: contain;
  padding-left: 5%;
  padding-top: 2%;
  box-sizing: border-box;
  background-color: black;
}

.icons {
  width: 600px;
  height: 60px;
  padding: 20%;
  align-content: center;
  
}

.desc {
  height: 100%;
  width: 55%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin: 0 auto;
}

.desc h1 {
  font-size: 60px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  color: rgba(255, 255, 255, 0);
  line-height: 1.2;
  letter-spacing: 1px;
  margin-top: 2%;
}

.desc button {
  width: 40%;
  background: none;
  color: white;
  border: 1px solid rgb(255, 119, 198);
  margin: auto;
}

.desc button:hover {
  background-color: rgba(255, 192, 203, 0.207);
}

.desc p {
  margin-top: 5%;
}


.tecnologiasContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  align-items: flex-start;
}



.tecnologiasLine {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 10px;
}

.tecnologiasLine img {
  width: 40px;
  height: 40px;
}

.footer {
  position: relative;
  top: 0;
  z-index: 100;
}

.containerbox {
  display: flex;
  width: 100%;
  height: 70vh;
  justify-content: space-around;
  border-bottom: 2px solid white;
  
}

.title {
  display: flex;
  width: 100%;
  height: 9%;
  justify-content: space-around;
  align-items: flex-end;
}

.title h3 {
  margin-top: 0;
  padding-left: 5%;
  font-size: 1.5vw;
}

.techtext{
  display: flex;
  align-content: center;
  right: 20px;
}
.tecnologiasLine{
  padding: 0;
}

.workteam{
  margin-left: 5%;
}