.abBg{
    height: 240vh;
    background: black;
    background-size: cover;
    display: flex;
    flex-direction: column;
    
}
.workteam{
    
    margin: 0;
    margin-bottom: 1%;
    width: 20%;
    font-size: 2vw;
    transform: translate(+200%);
    top: 13%;
}
.figuras{
    position: relative;
    top: 5%;
    left: 35%;
    width: 20%;
    height: 12%;
}
.container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    overflow: hidden;
    justify-content: space-evenly;
  width: 90%;
  margin: auto;
  height: 50%;

}
.background{
    max-width: 100%;
    height: 90vh;
    
    margin-bottom: 2%;
    background-image: url('../../assets/Imagenes/About_fondoInferior_aplicar.png');
    background-position: bottom;
    display: flex;
    background-repeat: no-repeat;
    padding-left: 5%;
    padding-top: 2%;
    box-sizing: border-box;
    
}

.desc{
    height:100%;
    width: 55%;
    
    display: flex;
    flex-direction: column;
    padding: 5%;
    box-sizing: border-box;

    background-color: rgba(0, 0, 0, 0.212);
}
.desc h1{
    font-size: 60px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    color: rgba(255, 255, 255, 0);
    line-height: 1.2;
    letter-spacing: 1px;
    margin-top: 2%;
}
.desc button{
  width: 40%;
  background: none;
  color: white;
  border: 1px solid rgb(255, 119, 198);
  margin: auto;
}


.desc button:hover{
  background-color: rgba(255, 192, 203, 0.207);
}

.desc p{
  margin-top: 5%;
}
.runner{
    height: 100%;
    /* background-color: bisque; */
   
   box-sizing: border-box;
    width: 45%;
  margin-top: 3%;
  padding-left: 5%;
    background-image: url('../../assets/Imagenes/running.png');

  background-size:contain;
    background-repeat: no-repeat;
}
.container :hover{
  transform: scale(1.05);

}

