.box{
  background-color: #6603a8;
  height: 230.5vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between
}
.abBg{
    height: 80vh;
    background: linear-gradient(180deg, rgba(102, 3, 168, 1) 20%, rgba(0, 0, 0, 1) 90%);    background-size: cover;
    padding-top: 5%;
}
.workteam{
    
    margin: 0;
    margin-bottom: 1%;
    width: 20%;
    font-size: 2vw;
    transform: translate(+75%);
    top: 13%;
}
.figuras{
    position: relative;
    top: 5%;
    left: 35%;
    width: 20%;
    height: 12%;
}
.container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    overflow: hidden;
    justify-content: space-evenly;
  width: 40%;
  height: 80%;
  background-color: rgb(42, 39, 223);
  box-shadow: 5px 6px 5px 0px rgba(255, 255, 255, 0.761);
  border-radius: 20px;
  margin-left: 5%;
  position: relative;
}
.background{
  width: 100%;
    height: 100vh;
    position: absolute;
    top: 72vh;
    background-image: url('../../assets/Imagenes/About_fondoInferior_aplicar.png');
    background-position: bottom;
    display: flex;
    background-repeat: no-repeat;
    background-size: contain;
    padding-left: 5%;
    padding-top: 2%;
    box-sizing: border-box;
}

.desc{
    height:100%;
    width: 55%;
    
    display: flex;
    flex-direction: column;
    padding: 5%;
    box-sizing: border-box;
}
.desc h1{
    font-size: 60px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    color: rgba(255, 255, 255, 0);
    line-height: 1.2;
    letter-spacing: 1px;
    margin-top: 2%;
}
.desc button{
  width: 40%;
  background: none;
  color: white;
  border: 1px solid rgb(255, 119, 198);
  margin: auto;
}


.desc button:hover{
  background-color: rgba(255, 192, 203, 0.207);
}

.desc p{
  margin-top: 5%;
}
.tecnologias{
  height: 50%;
  width: 30%;
  background-color: rgb(151, 72, 255);
  position: absolute;
  right: 10%;
  border-radius: 20px;
  padding-top: 1%;
  box-sizing: border-box;
  box-shadow: 5px 6px 5px 0px rgba(255, 255, 255, 0.761);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tecnologias h1{
  margin-bottom: 1%;
  border: 1px solid black;
  width: 70%;
}
.techtext{
  position: absolute;
  top: 7%;
  font-size: 2vw;
  left: 68%;

}
.runner{
    height: 90%;
    /* background-color: bisque; */
   
   box-sizing: border-box;
    width: 45%;
  margin-top: 8%;
    background-image: url('../../assets/Imagenes/running.png');

  background-size:contain;
    background-repeat: no-repeat;
}
.container :hover{
  transform: scale(1.05);

}

