.container {
  background-color: rgba(255, 255, 255, 0.886);
  width: 85%;
  box-sizing: border-box;
  display: flex;
  border-radius: 10px;
  height: 87.5vh;
  margin-right: 1%;
}
.mainContent{
  color: black;
  width: 80%;
  height: 96%;
  margin: auto;
  padding-top: 2%;
  overflow-y: auto;
  padding: 0 10%;
}
.mainContent::-webkit-scrollbar {
  width: 12px; 
  background-color: #9c95af;
  border-radius: 10px; 
  padding: 0 2px;
}
.mainContent::-webkit-scrollbar-thumb {
  background-color: hsl(274, 54%, 18%); 
  border-radius: 10px; 
  margin: 0 2px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #000000;
}

.table th {
  background-color: #68a1ea;
}

.iconoeditar {
  background-image: url('../../../assets/icons/icons8-editar-64.png');
}

.iconoeliminar {
  background-image: url('../../../assets/icons/icons8-basura-64.png');
}

.iconoAdmin {
  background-image: url('../../../assets/icons/admin.jpg');
}
.iconoeditar,
.iconoAdmin,
.iconoeliminar {
  width: 30px; /* Ancho */
  height: 30px; /* Alto */
  background-repeat: no-repeat; /* Evita que se repita el fondo */
  background-position: center; /* Centra el icono dentro del botón */
  text-indent: -9999px; /* Que no sobreescriba */
  background-size: contain;
}

td input{
  width: 100%;
  height: 2em;
  border-radius: 5px;
}

td button{
  background: none;

}

td .editbuttons{
  background-color: rgba(128, 128, 128, 0.399);
  height: 2em;
  font-size: 15px;
  padding: 1px;
  box-sizing: border-box;
  color: black;
  margin-bottom: 5%;
  width: 100%;
}



.iconDesac {
  width: 30px; /* Ancho */
  height: 30px; /* Alto */
  background-repeat: no-repeat; /* Evita que se repita el fondo */
  background-position: center; /* Centra el icono dentro del botón */
  background-size: contain;
  color: #000000;
}
