.main{
    background-color: rgba(255, 255, 255, 0.886);
    width: 85%;
    box-sizing: border-box;
    display: flex;
    border-radius: 10px;
    height: 87.5vh;
    margin-right: 1%;
    padding: 0.2% 0% 1% 0%;
}
.dashCont{
    height: 96%;
    width: 100%;
    box-sizing: border-box;
    overflow-y: auto;
    margin-top: 1%;
}
.dashCont::-webkit-scrollbar {
    width: 12px; /* Adjust width as needed */
    background-color: #9c95af;
    border-radius: 10px; /* Background color of the scrollbar */
    padding: 0 2px;
}
.dashCont::-webkit-scrollbar-thumb {
    background-color: hsl(274, 54%, 18%); /* Color of the thumb */
    border-radius: 10px; /* Add rounded corners */
    margin: 0 2px;
}


.boxes{
    width: 92%;
    height: 22%;
 
    display: flex;
   margin: auto;
    justify-content: space-between;
    
}

.box{
    background-color: white;
    width: 23%;
  color: black;
  
}

.content{
    height: 75%;
padding: 1%;
box-sizing: border-box;
    width: 95%;
    margin: auto;
    margin-top: 1%;
    display: flex;
  justify-content: space-between;
  color: black;

}

.principal, .side{
    height: 100%;
 
}

.principal{
    width: 74%;

    border: 1px solid gray;
   
}

.side{
    width: 25%;
    border: 1px solid gray;
}
