.container{
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.596) 0%, rgb(59, 59, 59) 100%);  height: 100vh;
  width: 25%;
  transition: all 0.3s ease-out; 
  position: absolute;
  z-index: 2000;
}

.columnas{
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  text-align: left;
  font-size: 1vw;
}
.columnas div h1,
.columnas div h3{
  padding-left: 5%;
  cursor: pointer;
}
.columnas h1:hover,
.columnas h3:hover{
  color: rgb(4, 0, 255);
}
.columna3 h2{
  color: rgb(255, 255, 255);
  cursor: default;
  font-size: 1.9vw;
  line-height: 1;
}
.columna1{
  height: 100%;
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: rgb(252, 252, 252);
  padding-top: 5%;
  padding-bottom: 5%;
  box-sizing: border-box;
}
.columna2{
  height: 100%;
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-left: 1px solid rgb(255, 255, 255);
  border-right: 1px solid rgb(255, 255, 255);
  color: rgb(255, 255, 255);
}
.columna2 h1{
  padding: 20%;
}
.columna3{
  height: 100%;
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: rgb(255, 255, 255);
}
.c3h3{
  position: absolute;
  bottom: -1.9%;
  right: 5.5%;
  color: rgb(0, 0, 0);
  cursor: pointer;
  font-size: 2vw;
}
.reset{
  position: absolute;
  bottom: 5%;
  right: 5.5%;
  color: rgb(0, 0, 0);
  cursor: pointer;
  font-size: 1.8vw;
  margin-bottom: 10%;
  font-size: 2vw;

}
.hidden{
  background-color: black;
  height: 100vh;
  width: 25%;
  transform: translate(-100%);
  transition: all 0.3s ease-out; 
}
.boton{
  position: absolute;
  top: 20%;
  left: 3.7%;
  height: 5%;
  width: 5%;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 100;
  font-family: f5;
  font-size: 2vw;
  color: rgb(255, 255, 255);
  border-bottom: 1px solid rgb(255, 255, 255);
  transition: all ease 0.2s
}
.boton:hover,
.botton_hidden:hover{
  cursor: pointer;
  color: rgb(246, 246, 246);
  border-bottom: 1px solid rgb(255, 255, 255);
  transform: scale(1.2);
}
.botton_hidden{
  opacity: 0;
  position: absolute;
}
.activeItem {
  color: rgb(53, 3, 255);
}

